<p-card>

  <form action="" formgroup="form">

    <div class="p-grid">

      <div class="p-col-7">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText lass="p-inputtext-lg">
          <label for="float-input">Username</label>
        </span>
      </div>

      <div class="p-col-4">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText lass="p-inputtext-lg">
          <label for="float-input">Username</label>
        </span>
      </div>

    </div>

  </form>

</p-card>
